# Obsidian core files
.obsidian/cache
.obsidian/workspace.json
.trash/

# Plugin data that doesn't need to be tracked
.obsidian/plugins/*/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/file-explorer-plus/data.json
.obsidian/plugins/activity-heatmap/activity_heatmap_data/
.obsidian/plugins/iconic/data.json
.obsidian/plugins/ioc-lens/data.json
.obsidian/plugins/obsidian-icon-folder/data.json


# Potential OS files
.DS_Store
Thumbs.db

# Any exported files you don't want to track
*.pdf
*.docx
*.epub
/.obsidian/plugins/recent-files-obsidian
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/obsidian-icon-folder/data.json
.obsidian/plugins/obsidian-icon-folder/data.json
.obsidian/plugins/obsidian-linter/data.json
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-plugin-update-tracker/data.json
.obsidian/plugins/omnisearch/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/activity-heatmap/activity_heatmap_data/data_v1.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/webpage-html-export/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspace.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspace.json
